* {
    box-sizing: border-box;
}

html, body, #app {
    height: 100%;
    overflow-y: hidden;
}

body {
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #282828;
    color: white;
    font-family: Courier;
}

body #app .typewriter-container {
    margin-top: auto;
}

body #app .input-container,
body #app .select-container {
    display: flex;
    align-items: center;
    margin: 8px auto;
    gap: 12px;
}

body #app .input-container input,
body #app .select-container select {
    flex-grow: 1;
    background-color: transparent;
    border: 2px solid #a89984;
    color: #a89984;
    font-size: 16px;
}
