{
	"plugins": ["prettier-plugin-svelte"],
	"printWidth": 120,
	"tabWidth": 4,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"useTabs": true,
  "arrowParens": "avoid",
  "svelteBracketNewLine": true
}
